# Dependencies
node_modules/
.venv/

# Build outputs
dist/
build/

# Logs
*.log
error.log

# Environment variables
.env
.env.*
!.env.example

# Databases
*.db
*.sqlite

# IDE and OS files
.vscode/
.DS_Store
Thumbs.db

# Other
coverage/
metadata.json
out.txt
